@{
    ViewData["Title"] = "Homepagina";
}

<div class="text-center">
    <h1 class="display-4">Welkom bij Projex</h1>
    <p>Dit is de uitwerking voor de HBO-ICT IT Solutions opdracht van Lucas Janssen</p><br />
    <p>De website is nog work-in-progress.</p>
</div>
